# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://pfcacqxonodjrnvreixq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBmY2FjcXhvbm9kanJudnJlaXhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkwODc4MzQsImV4cCI6MjEwNDY2MzgzNH0.S0IPEpwTbe9p5HH9Vzp6BeNiQADvjRjt4Nt8up_IkMM
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_RHc5nYEfyFHpotRYl9yglQ_AKdQTi2E